.bestellingvak {
    background-color: #fff;
    border: 2px solid #148f77;
    width: 18%;
    height: 500px;
    margin: 0px 15px 30px 15px;
    float: left;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tafelnummer {
    background-color: #148f77;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.DatalistTafelnr {
    width: 100%;
}

.dtlvak {
    width: 100%;
}

.Datalist {
    width: 100%;
    height: 100%
}

.bestellingrij {
    width: 100%;
    height: 30px;
    font-size: x-large;
    padding: 10px 10px 10px 10px;
    color: #343434;
    font-weight: bold;
}

.ProductImg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    float: left;
}

.ProductNaam {
    float: left;
}

.Aantal {
    float: right;
}

.gereedknop {
    width: 100%;
    font-weight: bold;
    font-size: xx-large;
    background-color: #148f77;
    border: none;
    color: #fff;
    bottom: 0;
    left: 0;
    position: absolute;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.cocacontainer {
    height: 540px;
}
