body {
}

.contentbak {
    width: 100%;
    padding: 0px 100px 0px 100px
}

.contentvak {
    color: #fff;
    width: 48%;
    height: 500px;
    float: left;
    font-size: x-large;
    font-weight: bold;
    padding: 20px;
    background-color: #148f77;
    border: #148f77;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.contentvak2 {
    color: #fff;
    width: 48%;
    height: 400px;
    float: right;
    font-size: x-large;
    font-weight: bold;
    padding: 20px;
    background-color: #148f77;
    border: #148f77;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.informatietitel {
    font-size: xx-large;
    text-align: center;
    border-bottom: 2px double white;
    margin-bottom: 20px;
}

.contentrij {
    width: 100%;
    margin-bottom: 20px;
}

.tekstlabel {
    width: 250px;
    float: left;
}

.tekstbox {
    width: 40%;
    font-size: x-large;
    border: 2px solid #343434;
    border-radius: 15px;
}

.aspNetDisabled {
    width: 40%;
    font-size: x-large;
    border: 2px solid #343434;
    border-radius: 15px;
    opacity: 50;
}

.DropDown {
    width: 40%;
    font-size: x-large;
    border: 2px solid #343434;
    border-radius: 15px;
}

.reserveerknop {
    color: #fff;
    width: 48%;
    text-align: center;
    background-color: #148f77;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: xx-large;
    padding: 20px 20px 20px 20px;
    margin-top: 10px;
    float: right;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.cocacontainer {
    height: 540px;
}

#btnJa,
#btnNee,
#ContentPlaceHolder1_btnJa,
#ContentPlaceHolder1_btnNee {
    border: 2px solid #343434;
    border-radius: 15px;
    width: 17%;
}

#btnNee,
#ContentPlaceHolder1_btnNee {
    margin-left: 5%;
}
