body {
 
}

.keuken {
    background-color: greenyellow;
    text-align: center;
    width: 400px;
    height: 400px;
}

.bar {
    text-align: center;
    background-color: greenyellow;
    width: 100px;
    height: 300px;
}

.popup {
    width: 400px;
    height: 500px;
    background-color: gray;
    color: white;
    padding: 2px;
}

.close{
    background-color: red;
}

.tafelbutton {
    text-align: center;
    width: 200px;
    height: 150px;
}
