body {
 
}

.keuken {
    background-color: #148f77;
    text-align: center;
    grid-column: 1;
    grid-row: 1 / span 2;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 15pt;
}

.bar {
    text-align: center;
    background-color: #148f77;
    height: 100px;
    grid-column: 1 / span 2;
    grid-row: 4;
    margin-top: 18%;
    border: 2px solid #148f77;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 15pt;
}

.popup {
    width: 400px;
    height: 400px;
    background-color: #fff;
    border: 2px solid #148f77;
    border-radius: 15px;
    color: white;
}

.popupbutton {
    margin-top: 250px;
    border-radius: 15px;
    padding: 15px 10px;
    text-align: center;
    background-color: #148f77;
    color: #fff;
    border: none;
}

.center {
    margin:auto;
}

.close{
    background-color: red;
    float: left;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 15px;
    font-size: 10pt;
    text-decoration: none;
}

.tafelbutton {
    text-align: center;
    width: 200px;
    height: 150px;
    align-content: center;
    border: 2px solid #148f77;
    border-radius: 15px;
    color: #343434;
    font-weight: bold;
    font-size: 15pt;
}

.tafel3 {
    text-align: center;
    width: 200px;
    height: 150px;
    align-content: center;
    grid-column: 3;
    grid-row: 2 / span 3;
}

.tafels {
    display: grid;
    grid-column: 3;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.popupheader {
    background-color: #148f77;
    color: #fff;
    font-weight: bold;
    font-size: 15pt;
    height: 70px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 20px;
    box-sizing: border-box;
}

.Tafelpopup{
    float: left;
    width: 326px;
}