@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Century Gothic";
}

body {
    background-color: #fff;
}

.wrapper {
    display: flex;
    position: relative;
}

    .wrapper .sidebar {
        width: 300px;
        height: 100%;
        background: linear-gradient(180deg, rgba(14,98,81,1) 0%, rgba(20,143,119,1) 100%);
        padding: 30px 0px;
        position: fixed;
    }

        .wrapper .sidebar h2 {
            color: #fff;
            text-transform: uppercase;
            text-align: center;
        }

        .wrapper .sidebar h3 {
            margin-top: -20px;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 30px;
        }

        .wrapper .sidebar ul li {
            padding: 15px;
            border-bottom: 1px solid #bdb8d7;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            border-top: 1px solid rgba(255,255,255,0.05);
        }

            .wrapper .sidebar ul li a {
                color: #fff;
                display: block;
            }

                .wrapper .sidebar ul li a .fas {
                    width: 25px;
                }

            .wrapper .sidebar ul li:hover {
                background-color: #594f8d;
            }

                .wrapper .sidebar ul li:hover a {
                    color: #fff;
                }

                .wrapper .sidebar ul li:hover .submenu {
                    display: block;
                    max-height: 500px;
                }

.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 1s ease-out;
}

.wrapper .sidebar .terug {
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

    .wrapper .sidebar .terug a {
        font-weight: bold;
        display: block;
        width: 100%;
        background: #fff;
        height: 40px;
        line-height: 45px;
        text-align: center;
        margin: 0 5px;
        color: rgba(14,98,81,1);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

.wrapper .main_content {
    width: 100%;
    margin-left: 300px;
}

    .wrapper .main_content .header {
        text-align: center;
        font-size: 20px;
        padding: 20px;
        background: #fff;
        color: rgba(14,98,81,1);
        border-bottom: 1px solid rgba(14,98,81,1);
    }

    .wrapper .main_content .info {
        margin: 20px;
        color: #717171;
        line-height: 25px;
    }

        .wrapper .main_content .info div {
            margin-bottom: 20px;
        }

.container {
    background-color: #f3f5f9;
    width: 90%;
    height: auto;
    border: 1px solid rgba(14,98,81,1);
    border-radius: 15px;
    text-align: center;
    margin-left: 5%;
    margin-top: 20px;
    min-height: 100px;
}

    .container h2 {
        margin-top: 5px;
        color: rgba(14,98,81,1);
        margin-bottom: 5px;
    }

.center {
    text-align: center;
}

/* table */
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

    .content-table tbody tr th {
        background-color: #009879;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
    }

    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }

    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .content-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }


        .content-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .content-table tbody tr:hover {
            font-weight: bold;
            color: #009879;
        }

        .content-table tbody tr td a {
            background-color: rgba(20,143,119,1);
            border-radius: 5px;
            color: #ffffff;
            padding: .5em;
            text-decoration: none;
        }

            .content-table tbody tr td a:nth-child(2) {
                background-color: #C0392B;
                border-radius: 5px;
                color: #ffffff;
                padding: .5em;
                text-decoration: none;
            }

                .content-table tbody tr td a:nth-child(2):hover {
                    background-color: #CD6155;
                    color: #ffffff;
                }

            .content-table tbody tr td a:hover {
                background-color: #009879;
                color: #ffffff;
            }

tr > td:last-of-type {
    width: 50px;
}

.eerstetable {
    width: 60%;
    margin-left: 20%;
}

.tweedetable {
    width: 80%;
    margin-left: 10%;
}


.hideGridColumn {
    display: none;
}



.mainpanel {
    width: 70%;
    height: auto;
    min-height: 100px;
    margin-left: 5%;
    margin-top: 5%;
    display: inline-block;
    vertical-align: top;
}

.sidepanel {
    width: 20%;
    height: auto;
    min-height: 100px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5%;
}

/* BUTTONS */
.btnToevoegen {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: rgba(20,143,119,1);
    border-radius: 5px;
    color: #ffffff;
    padding: .5em;
}

.buttongreen {
    background-color: rgba(20,143,119,1);
}

.buttonred {
    background-color: orangered;
}

.button:active {
    background-color: ghostwhite;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*Navigator*/
.navigator {
    height: 120px;
    background: linear-gradient(160deg, rgba(14,98,81,1) 0%, rgba(20,143,119,1) 100%);
    font-weight: bold;
}

.logo {
    margin-left: 40px;
    width: 240px;
    float: left;
}

.selected {
    border: 2px solid #fff;
    color: #fff;
    border-radius: 25px;
}

nav {
    margin-right: 35px;
    padding-top: 45px;
    background: transparent;
    text-align: center;
    float: right;
    position: sticky;
}

    nav li {
        float: left;
        background-color: transparent;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-left: 10px;
        margin-right: 10px;
        border-color: #7fb241;
    }

        nav li:hover {
            float: left;
            background: transparent;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-left: 10px;
            margin-right: 10px;
            border-bottom: 2px solid;
            border-color: #fff;
            border-radius: 25px;
        }

    nav a {
        color: #fff;
        text-decoration: none;
    }

        nav a:hover {
            color: #fff;
            text-decoration: none;
        }

.uitloggen {
    color: rgba(14,98,81,1);
    background-color: #fff;
    border-radius: 25px;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}


.btnUitloggen {
    font-weight: bold;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgba(14,98,81,1);
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid #fff;
    border-color: #fff;
}

    .btnUitloggen:hover {
        background-color: transparent;
        color: #fff;
    }

nav ul {
    list-style-type: none;
    overflow: hidden;
}


.btnUitloggen {
    font-weight: bold;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgba(14,98,81,1);
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid #fff;
    border-color: #fff;
}

    .btnUitloggen:hover {
        background-color: transparent;
        color: #fff;
    }

/* werkgebied */

/* Documentatie */
/* Planning */
/* Voorraad */

#lvActiveiten {
    background-color: #cbcbcb;
    position: relative;
    border: 3px solid #73AD21;
    top: 6px;
    left: 3px;
    height: 438px;
    width: 1466px;
}

#gvActiveiten {
}

.volgendeknop {
    background-color: #117b66;
    font-size: 30px;
    width: 60px;
    margin-top: 100px;
    margin-bottom: 25px;
    position: absolute;
    right: 306px;
    border-radius: 25px;
}

    .volgendeknop:hover {
        background: #7fb241;
    }

.vorigeknop {
    background-color: #117b66;
    font-size: 30px;
    width: 60px;
    margin-top: 100px;
    margin-bottom: 25px;
    position: absolute;
    right: 365px;
    border-radius: 25px;
}

    .vorigeknop:hover {
        background: #7fb241;
    }

.weekcb {
    margin-top: 120px;
    margin-bottom: 25px;
    position: absolute;
    right: 500px;
}

.lbldatumnu {
    margin-top: 120px;
    margin-bottom: 25px;
    position: absolute;
    right: 51%;
}

.lbldatum {
    margin-top: 120px;
    margin-bottom: 25px;
    position: absolute;
    right: 1100px;
}

.lblactiviteit {
    margin-top: 120px;
    margin-bottom: 25px;
    position: absolute;
    right: 1437px;
}

.lbloverzicht {
    float: left;
    font-size: x-large;
    font-family: 'Century Gothic';
    margin-top: 1%;
    margin-left: 1%;
}


.gridviewoverzicht {
    position: absolute;
    left: 24%;
    margin-top: 180px;
    border: 3px solid #117b66;
    text-align: center;
}

.lblgeplandeactiviteiten {
    margin-top: 120px;
    margin-left: 160px;
    position: absolute;
}

.labelplanning {
    position: absolute;
    top: 100%;
    left: 25%;
}


.gridviewplanning {
    position: absolute;
    margin-top: 4%;
    margin-left: 5%;
    width: 1%;
    height: 1%;
    font-size: 50%;
}

.gridviewbegeleider {
    position: absolute;
    right: 3%;
    top: 170%;
    width: 10%;
    height: 45%;
    font-size: 12px;
}

.labelactiviteit {
    position: absolute;
    float: right;
    right: 30%;
    top: 110%;
}

.kalender {
    top: 430%;
    right: 15%;
    position: absolute;
    font-size: 18px;
}

.textboxplanningactiviteit {
    position: absolute;
    float: right;
    right: 18%;
    top: -2147483648%;
}

.labellocatie {
    position: absolute;
    float: right;
    right: 30%;
    top: 140%;
}

.labelaantal {
    position: absolute;
    float: right;
    right: 30%;
    top: 170%;
}

.labelbegeleider {
    position: absolute;
    float: right;
    right: 36%;
    top: -77550%;
}

.textboxaantal {
    position: absolute;
    float: right;
    right: 15%;
    top: 170%;
    width: 3%;
    height: 20%;
}


.labelbegintijd {
    position: absolute;
    float: right;
    right: 30%;
    top: 270%;
}

.labelplanningdatum {
    position: absolute;
    float: right;
    right: 30%;
    top: 240%;
}

.labeleindtijd {
    position: absolute;
    float: right;
    right: 30%;
    top: 300%;
}

.labelinschrijfkosten {
    position: absolute;
    float: right;
    right: 30%;
    top: 330%;
}

.labelfaciliteit {
    position: absolute;
    float: right;
    right: 30%;
    top: 360%;
}

.textboxlocatie {
    position: absolute;
    float: right;
    right: 15%;
    top: 140%;
}

.textboxbegeleider {
    position: absolute;
    float: right;
    right: 15%;
    top: 210%;
}

.textboxdatum {
    position: absolute;
    float: right;
    right: 15%;
    top: 240%;
}

.textboxbegintijd {
    position: absolute;
    float: right;
    right: 15%;
    top: 270%;
}

.textboxeindtijd {
    position: absolute;
    float: right;
    right: 15%;
    top: 300%;
}

.textboxinschrijfkosten {
    position: absolute;
    float: right;
    right: 15%;
    top: 330%;
}

.textboxfaciliteit {
    position: absolute;
    float: right;
    right: 15%;
    top: 360%;
}

.buttonactiviteiteninplannen {
    position: absolute;
    float: right;
    right: 15%;
    top: 400%;
    width: 18%;
    height: 22%;
    font-size: 100%;
}

.plusknop {
}

    .plusknop:hover {
        background: #7fb241;
    }

.validatortxbactiviteit {
    position: absolute;
    right: 40%;
    top: 110%;
}

.validatorlocatie {
    position: absolute;
    right: 40%;
    top: 140%;
}

.validatoraantal {
    position: absolute;
    float: right;
    right: 40%;
    top: 170%;
}

.validatormedewerker {
    position: absolute;
    right: 40%;
    top: 210%;
}

.validatordatum {
    position: absolute;
    right: 2%;
    top: 240%;
}

.validatordatumcompare {
    position: absolute;
    right: 40%;
    top: 240%;
}


.validatordatumverleden {
    position: absolute;
    right: 40%;
    top: 240%;
}

.validatorbegintijd {
    position: absolute;
    right: 40%;
    top: 270%;
}

.validatorgeldigetijd {
    position: absolute;
    right: 1%;
    top: 220%;
}

.validatoreindtijd {
    position: absolute;
    right: 40%;
    top: 300%;
}

.validatorgeldigeeindtijd {
    position: absolute;
    float: right;
    right: 1%;
    top: 300%;
}

.validatorinschrijfkosten {
    position: absolute;
    float: right;
    right: 2%;
    top: 330%;
}

.validatornulvijfentwintiginschrijfkosten {
    position: absolute;
    float: right;
    right: 36%;
    top: 330%;
}

.validatorbedraginschrijfkosten {
    position: absolute;
    float: right;
    right: 2%;
    top: 330%;
}

.validatorinscrhijfkostenvulgetalin {
    position: absolute;
    float: right;
    right: 2%;
    top: 360%;
}

.validatorinschrijfkostennulendertig {
    position: absolute;
    float: right;
    right: 40%;
    top: 360%;
}

.validatorfacilitetvuleengetalin {
    position: absolute;
    float: right;
    right: 2%;
    top: 360%;
}

.gridviewvoorraad {
    position: center;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}

.labelzoeken {
    position: absolute;
    top: 45%;
    left: 21%;
}

.textboxvoorraad {
    position: absolute;
    top: 45%;
    left: 30%;
}

.imagevoorraad {
    float: right;
    position: sticky;
    margin-bottom: 30px;
}

.labelvoorraadz {
    float: left;
    font-size: x-large;
    font-family: 'Century Gothic';
    margin-top: 1%;
    margin-left: 1%;
}

.labelvoorraadmuteren {
    float: left;
    font-size: x-large;
    font-family: 'Century Gothic';
    margin-top: 1%;
    margin-left: 1%;
}

.labelzoekenvoorraadmuteren {
    position: absolute;
    top: 150%;
    left: 21%;
}

.txbzoekenvoorraadmuteren {
    position: absolute;
    top: 150%;
    left: 35%;
    height: 12%;
}

.checkboxleverancier {
    position: absolute;
    top: 150%;
    left: 55%;
}

.checkboxcategorie {
    position: absolute;
    top: 150%;
    left: 63%;
}

.gridviewvoorraadmuteren {
    position: absolute;
    top: 180%;
    left: 21%;
    width: 60%;
    height: 10%;
    font-size: 12px;
    border: 3px solid #117b66;
}

.buttonnieuwartikel {
    position: absolute;
    background-color: #117b66;
    top: 400%;
    left: 21%;
}

.labelbevestigingplanning {
    position: absolute;
    top: 400%;
    right: 2%;
}

.labelzoekafboeken {
    position: absolute;
    left: 28%;
    margin-top: 3%;
}

.textboxafboekenzoeken {
    position: absolute;
    left: 33%;
    margin-top: 3%;
}

.buttonAfboekenVoorraadmuteren {
    position: absolute;
    top: 100%;
    left: 28%;
    width: 10%;
    height: 5%;
    font-size: 80%;
    background-color: #009879;
    border-radius: 25px;
}

.content-table2 {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

    .content-table2 tbody tr th {
        background-color: #009879;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
    }

    .content-table2 th,
    .content-table2 td {
        padding: 12px 15px;
    }

    .content-table2 tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .content-table2 tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }


        .content-table2 tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .content-table2 tbody tr:hover {
            font-weight: bold;
            color: #009879;
        }

        .content-table2 tbody tr td a {
            background-color: rgba(20,143,119,1);
            border-radius: 5px;
            color: #ffffff;
            padding: .5em;
            text-decoration: none;
        }

            .content-table2 tbody tr td a:nth-child(2) {
                background-color: #C0392B;
                border-radius: 5px;
                color: #ffffff;
                padding: .5em;
                text-decoration: none;
            }

                .content-table2 tbody tr td a:nth-child(2):hover {
                    background-color: #CD6155;
                    color: #ffffff;
                }

            .content-table2 tbody tr td a:hover {
                background-color: #009879;
                color: #ffffff;
            }

.ButtonAfboekenknop {
    position: absolute;
    top: 110%;
    left: 40%;
    width: 10%;
    height: 5%;
    font-size: 80%;
    background-color: #009879;
    border-radius: 25px;
}

.ButtonOpboekenknop {
    position: absolute;
    top: 110%;
    left: 28%;
    width: 10%;
    height: 5%;
    font-size: 80%;
    background-color: #009879;
    border-radius: 25px;
}

.labelzoekenvooraadmutatie {
    position: absolute;
    left: 28%;
    margin-top: 3%;
}

.TextboxzoekenVooraadmutatie {
    position: absolute;
    left: 33%;
    margin-top: 3%;
}

.checkboxleverancierVoorraadmutatie {
    position: absolute;
    left: 50%;
    margin-top: 3%;
}

.content-table3 {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

    .content-table3 tbody tr th {
        background-color: #009879;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
    }

    .content-table3 th,
    .content-table3 td {
        padding: 12px 15px;
    }

    .content-table3 tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .content-table3 tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }


        .content-table3 tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .content-table3 tbody tr:hover {
            font-weight: bold;
            color: #009879;
        }

        .content-table3 tbody tr td a {
            background-color: rgba(20,143,119,1);
            border-radius: 5px;
            color: #ffffff;
            padding: .5em;
            text-decoration: none;
        }

            .content-table3 tbody tr td a:nth-child(2) {
                background-color: #C0392B;
                border-radius: 5px;
                color: #ffffff;
                padding: .5em;
                text-decoration: none;
            }

                .content-table3 tbody tr td a:nth-child(2):hover {
                    background-color: #CD6155;
                    color: #ffffff;
                }

            .content-table3 tbody tr td a:hover {
                background-color: #009879;
                color: #ffffff;
            }

.labelVoorraadzoeken {
    position: absolute;
    left: 21%;
    margin-top: 3%;
}

.txtZoekbalk {
    position: absolute;
    left: 27%;
    margin-top: 3%;
}

.btnSelecterenproductenvoorraad {
    position: absolute;
    left: 50%;
    margin-top: 3%;
    background-color: #009879;
    border-radius: 25px;
}

.BtnBestellenVooraad {
    position: absolute;
    left: 80%;
    margin-top: 3%;
    border-radius: 25px;
}

.content-table4 {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 60%;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    font-size: 80%;
}

    .content-table4 tbody tr th {
        background-color: #009879;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
    }

    .content-table4 th,
    .content-table4 td {
        padding: 12px 10px;
    }

    .content-table4 tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .content-table4 tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }


        .content-table4 tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .content-table4 tbody tr:hover {
            font-weight: bold;
            color: #009879;
        }

        .content-table4 tbody tr td a {
            background-color: rgba(20,143,119,1);
            border-radius: 5px;
            color: #ffffff;
            padding: .5em;
            text-decoration: none;
        }

            .content-table4 tbody tr td a:nth-child(2) {
                background-color: #C0392B;
                border-radius: 5px;
                color: #ffffff;
                padding: .5em;
                text-decoration: none;
            }

                .content-table4 tbody tr td a:nth-child(2):hover {
                    background-color: #CD6155;
                    color: #ffffff;
                }

            .content-table4 tbody tr td a:hover {
                background-color: #009879;
                color: #ffffff;
            }



.modal-dialog {
    width: 100%;
}

.content-table5 {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    max-width: 80%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

    .content-table5 tbody tr th {
        background-color: #009879;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
    }

    .content-table5 th,
    .content-table5 td {
        padding: 12px 15px;
    }

    .content-table5 tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .content-table5 tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }


        .content-table5 tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .content-table5 tbody tr:hover {
            font-weight: bold;
            color: #009879;
        }

        .content-table5 tbody tr td a {
            background-color: rgba(20,143,119,1);
            border-radius: 5px;
            color: #ffffff;
            padding: .5em;
            text-decoration: none;
        }

            .content-table5 tbody tr td a:nth-child(2) {
                background-color: #C0392B;
                border-radius: 5px;
                color: #ffffff;
                padding: .5em;
                text-decoration: none;
            }

                .content-table5 tbody tr td a:nth-child(2):hover {
                    background-color: #CD6155;
                    color: #ffffff;
                }

            .content-table5 tbody tr td a:hover {
                background-color: #009879;
                color: #ffffff;
            }

.txbActiviteitnaam {
    margin-left: 30%;
}

.txblocatieactivitieit {
    margin-left: 42%;
}

.txbInschrijfkostenactivitieit {
    margin-left: 32%;
}

.txbMaximaalaantalactivitieit {
    margin-left: 26%;
}

.txbOmschrijvingactivitieit {
    margin-left: 33%;
}

.txbDatumactivitieit {
    margin-left: 43%;
}

.txbBegintijdactivitieit {
    margin-left: 40%;
}

.txbEindtijdactivitieit {
    margin-left: 42%;
}

.txbMedewerkeractivitieit {
    margin-left: 33%;
}

.btnToevoegenactiviteit {
    position: absolute;
    left: 10%;
    margin-top: 5%;
    background-color: #009879;
    border-radius: 25px;
}

.btnwijzigenactiviteit {
    position: absolute;
    left: 40%;
    margin-top: 5%;
    background-color: #009879;
    border-radius: 25px;
}


.btnverwijderenactiviteit {
    position: absolute;
    left: 70%;
    margin-top: 5%;
    background-color: #009879;
    border-radius: 25px;
}

.ckbleverancierVAfboeken {
    position: absolute;
    left: 50%;
    margin-top: 3%;
}

.ckbcategorieVAfboeken {
    position: absolute;
    left: 60%;
    margin-top: 3%;
}

.btnnieuweactiviteitinplannen {
    width: 15%;
    height: 5%;
    margin-left: 5%;
    background-color: #009879;
    font-size: 80%;
    border-radius: 25px;
}

.labelzoekenProductpaginainactief {
    position: absolute;
    left: 25%;
    margin-top: 3%;
}

.textboxzoekenProductpaginainactief {
    position: absolute;
    left: 33%;
    margin-top: 3%;
}

.ckbLeverancierProductpaginainactief {
    position: absolute;
    left: 50%;
    margin-top: 3%;
}

.ckbCategorieProductpaginainactief {
    position: absolute;
    left: 60%;
    margin-top: 3%;
}

.content-table6 {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    max-width: 80%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

    .content-table6 tbody tr th {
        background-color: #009879;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
    }

    .content-table6 th,
    .content-table6 td {
        padding: 12px 15px;
    }

    .content-table6 tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .content-table6 tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }


        .content-table6 tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .content-table6 tbody tr:hover {
            font-weight: bold;
            color: #009879;
        }

        .content-table6 tbody tr td a {
            background-color: rgba(20,143,119,1);
            border-radius: 5px;
            color: #ffffff;
            padding: .5em;
            text-decoration: none;
        }

            .content-table6 tbody tr td a:nth-child(2) {
                background-color: #C0392B;
                border-radius: 5px;
                color: #ffffff;
                padding: .5em;
                text-decoration: none;
            }

                .content-table6 tbody tr td a:nth-child(2):hover {
                    background-color: #CD6155;
                    color: #ffffff;
                }

            .content-table6 tbody tr td a:hover {
                background-color: #009879;
                color: #ffffff;
            }

.BtnProductpaginaInzieninactief {
    position:absolute;
    background-color: #009879;
    border-radius: 25px;
    width: 10%;
    margin-top: 1%;
    margin-left: 28%;
    color: white;
}

.BtnProductpaginaInzienVerwijderen {
    position:absolute;
    background-color: #009879;
    border-radius: 25px;
    width: 10%;
    margin-top: 1%;
    margin-left: 33%;
    color:white;
}

.BtnProductpaginaInzienWijzigen {
    position:absolute;
    background-color: #009879;
    border-radius: 25px;
    width: 10%;
    margin-top: 1%;
    margin-left: 12%;
    color: white;
}

.labelzoekenProductpaginainzien {
    position: absolute;
    margin-left: 12%;
    margin-top: 3%;
    
}

.ReqActiviteitValidator {
    top: 42%;
    position: relative;
    color: red;
}

.RegularActiviteitValidator {
    color: red;
}

.ReqLocatieVaidator {
   
    top: 42%;
    position: relative;
    color: red;
}

.ReqInschrijfkostenValidator {
   
    top: 42%;
    position: relative;
    color: red;
}

.RegularInschrijfkostenValidator {
    color: red;
}

.ReqTbMaxAantal {
    
    top: 42%;
    position: relative;
    color: red;
}

.RegularTbMaxAantal {
    color: red;
}

.ReqTbDatum {
   
    top: 42%;
    position: relative;
    color: red;
}

.ReqTbBegintijd {
   
    top: 42%;
    position: relative;
    color: red;
}

.ReqTbEindtijd {
    
    top: 42%;
    position: relative;
    color: red
}

.ReqActiviteitValidatorInplannen {
    top: 4%;
    left: 92%;
    position: absolute;
    color: red;
}

.RegularActiviteitvalidatorInplannen {
    left: 56%;
    position: relative;
    color: red;
}

.ReqLocatieValidatorInplannen {
    top: 19%;
    left: 92%;
    position: absolute;
    color: red;
}

.RegularLocatieValidatorInplannen {
    left: 56.2%;
    position: relative;
    color: red;
}

.ReqInschrijfkostenValidatorInplannen {
    top: 31.7%;
    left: 92%;
    position: absolute;
    color: red;
}

.RegularInschrijfkostenValidatorInplannen {
    left: 56.2%;
    position: relative;
    color: red;
}

.ReqMaximaalAantal {
    left: 92%;
    position: absolute;
    color: red;
}

.RegularMaximaalAantalInplannen {
    left: 56.2%;
    position: relative;
    color: red;
}

.ReqDatumValidatorInplannen {
    left: 92%;
    position: absolute;
    color: red;
}

.RegularDatumInplannen {
    left: 56.2%;
    position: relative;
    color: red;
}

.ReqTbDatumInplannen {
    left: 92%;
    position: absolute;
    color: red;
}

.ReqBegintijdInplannen {
    left: 92%;
    position: absolute;
    color: red;
}

.Textboxproductpaginawijzigen {
    position: fixed;
    top: 25%;
    left: 27%;
    
}
.RDBproductpaginawijzigencategorie {
    position: fixed;
    top: 25%;
    left: 60%;

}
.RDBproductpaginawijzigenLeverancier {
    position: fixed;
    top: 25%;
    left: 50%;
    display: inline;
}
.buttonproductpaginawijzigen {
    position: fixed;
    top: 25%;
    left: 40%;
    background-color: #009879;
    border-radius: 25px;
    color: white;
    
}
