
.gridviewplanning {
    
    position:relative;
    width: 40px;
    height:10px;
    top: -650px;
    left: 20px;
    font-size:10px;
    
}

.textboxplanning {
    position:relative;
    float: right;
    margin-right: 330px;
    margin-left:20px;
    top: -111px;
    left: -688px;
    height: 16px;
    width: 118px;
}

.textboxplanningb {
    position:sticky;
    float: right;
    margin-right: auto;
    
}

.labelplanning {
    position:relative;
    float: left;
    margin-left: 600px;
}

.kalenderplanning {
    position:relative;
    left: 600px;
  
}

.buttonplanning {
    position:relative;
    float: left;
    margin-left: 600px;
}

.labelplanningb{
    left:20px;
    position:relative;
}

.labelbevestiging{
    position: relative;
    float: right;
    margin-right: 330px;
}
